<main class="content">
  <h2 class="content__title">Доступные счета</h2>
  <ul class="content__item_list">
    <li>
      <div class="item" onclick="item__create_account()">
        <p class="item__title">Микрочел</p>
        <p class="item__description">
          Счет для тех, кто боится больших чисел. Лимит средств на счету - 50,000 рублей*. Обслуживание бесплатное.
          Также предусмотренно бесплатное улучшение до Энджоера. Выплаты по остатку на счете не предусмотренны.
        </p>
        <p class="item__date">На 4 года</p>
      </div>
    </li>
    <li>
      <div class="item" onclick="item__create_account()">
        <p class="item__title">Эджоер</p>
        <p class="item__description">
          Счет для обыкновенного любителя денег. Стоимость обслуживания - 100 рублей в месяц. Лимит средств э
          на счету - 100,000 рублей*. В конце месяца происходит выплата равная 6% годовых от остатка на счету.
        </p>
        <p class="item__date">На 4 года</p>
      </div>
    </li>
    <li>
      <div class="item" onclick="item__create_account()">
        <p class="item__title">Гигачад</p>
        <p class="item__description">
          Счет для тех, кто не страшится выбрасывать деньги на ветер. Стоимость обслуживания 500 рублей в месяц.
          Средства на счету неограничены. В конце месяца выплачивается 10% годовых от остатка на счету*.
        </p>
        <p class="item__date">На 8 лет</p>
      </div>
    </li>
  </ul>
</main>
