<main class="catalog">
  <h2 class="catalog__title">Доступные кредиты</h2>
  <ul class="catalog__item_list">
    <li>
      <div class="item">
        <p class="item__title">Не смешарик</p>
        <p class="item__description">
          Кредит для первопроходцев в области общения с коллекторами, неправильного использования утюга и вечных
          синяков.
          Опробуйте возможность взять микрозайм суммой до 50,000 рублей с процентной ставкой 10%*.
        </p>
        <p class="item__date">На 6 месяцев</p>
      </div>
    </li>
    <li>
      <div class="item">
        <p class="item__title">Уже смешарик</p>
        <p class="item__description">
          Вам посчастливилось остаться в живых после вашего первого кредита? Тогда мы предлагаем вам не мелочиться и
          попробовать взять одно из лучших наших предложений, кредит суммой до 1,000,000 рублей с процентной ставкой
          15%*.
        </p>
        <p class="item__date">На 2 года</p>
      </div>
    </li>
    <li>
      <div class="item">
        <p class="item__title">Шарарам</p>
        <p class="item__description">
          Подойдёт для тех, кто хочет открыть свой бизнес и в случае, если он не выгорит, потерять квартиру и машину.
          Наш кредит суммой до 10,000,000 рублей с процентной ставкой 20%*.
        </p>
        <p class="item__date">На 4 года</p>
      </div>
    </li>
  </ul>
</main>