<main class="content">
  <h2 class="content__title">Доступные вклады</h2>
  <ul class="content__item_list">
    <li>
      <div class="item">
        <p class="item__title">Полухин</p>
        <p class="item__description">
          Любите шутки от Максима? Мы тоже нет, но вот вам прекрасное для нас предложение, вклад с процентной ставкой
          -1% годовых. Нет ограничения на сумму вклада, можно снимать и пополнять.
        </p>
        <p class="item__date">На 8 лет</p>
      </div>
    </li>
    <li>
      <div class="item">
        <p class="item__title">Капанин</p>
        <p class="item__description">
          Занимаясь лёгкой атлетикой, вы боитесь, что из-за астмы впадёте кому на несколько месяцев, а денег на счету не
          прибавится? Решение - вклад с процентной ставкой 6% годовых. Возможность снятия или пополнения средств
          отсутствует.
          Максимальная сумма вклада - 1,000,000 рублей.
        </p>
        <p class="item__date">На 6 месяцев</p>
      </div>
    </li>
    <li>
      <div class="item">
        <p class="item__title">Слюсаренко</p>
        <p class="item__description">
          Если вы зарабатываете деньги, а тратить их некуда - ежемесячно вкладывайте ваши деньги в это уникальное
          предложение. 12% годовых, средства можно пополнять и снимать. Максимальная сумма вклада - 5,000,000 рублей.
        </p>
        <p class="item__date">На 4 года</p>
      </div>
    </li>
  </ul>
</main>