<footer class="footer">
  <div class="rights">
    <h2 class="rights__title">Правовая информация</h2>
    <ul class="rights__info">
      <li>Супер мега банк</li>
      <li>Контактная информация</li>
      <li>Бла бла бла</li>
      <li>Все права защищены</li>
    </ul>
    <p class="footer__loading_time">Время загрузки: <span id="loading_time"></span>ms. </p>
  </div>
</footer>