<ul class="function_list">
  <li>
    <button class="function_list__button" onclick="function_list__button__make_transaction()">Сделать перевод</button>
  </li>
  <li>
    <button class="function_list__button" onclick="function_list__button__ask_transaction()">Запросить перевод
    </button>
  </li>
  <li>
    <button class="function_list__button">Перевод между своими картами</button>
  </li>
</ul>