<ul class="function_list">
  <li>
    <button class="function_list__button" onclick="function_list__button__make_transaction()">Сделать перевод</button>
  </li>
  <li>
    <button class="function_list__button">Открыть продукт</button>
  </li>
</ul>