<header class="header">
  <a href="/"><img class="header__logo" src="img/logo.png" alt=""></a>
  <ul class="navigation">
    <li>
      <button id='accounts' class="navigation_list__button" onclick="location.href='/accounts'">Счета</button>
    </li>
    <li>
      <button id='credits' class="navigation_list__button" onclick="location.href='/credits'">Кредиты</button>
    </li>
    <li>
      <button id='deposits' class="navigation_list__button" onclick="location.href='/deposits'">Вклады</button>
    </li>
    <li>
      <button id='transactions' class="navigation_list__button" onclick="location.href='/transactions'">Переводы
      </button>
    </li>
    <li>
      <button id='profiles' class="navigation_list__button" onclick="location.href='/profile'">Профиль</button>
    </li>
  </ul>
</header>