<main class="content">
  <h2 class="content__title">Вход</h2>
  <div class="item" onclick="signInClicked()">
    <p class="item__title">Войти</p>
  </div>
  <div class="item" onclick="signUpClicked()">
    <p class="item__title">Зарегистрироваться</p>
  </div>
</main>