<main class="main_page">
  {{> functions_list }}
  <section class="cards" id="main_page_section_cards">
    <h2 class="cards__title">Активные карты</h2>
    <ul class="cards__cards_list" id="main_page_cards"></ul>
  </section>
  <section class="history" id="main_page_section_history">
    <h2 class="history__title">История</h2>
    <ul class="history__history_list" id="main_page_history"></ul>
  </section>
</main>