<main class="catalog">
  <h2 class="catalog__title">Активные профили</h2>
  <div class="item">
    <p class="item__title">Валерий Шевченко</p>
    <p class="item__description">Количество продуктов, привязанных к этому профилю:
      8. Из них 4 счета, 2 кредита и 2 вклада.</p>
    <p class="item__date">Дата регистрации: 03.12.2001</p>
  </div>
</main>