<main class="content">
    <h2 class="content__title">История переводов</h2>
    <ul class="content__item_list" id="transaction_page_history">
    </ul>
    <div class="content__buttons">
        <button class="content__buttons__button"
                onclick="content__button__next_page();location.href='/transactions';">Следующая страница
        </button>
        <button class="content__buttons__button"
                onclick="content__button__prev_page();location.href='/transactions';">Предыдущая страница
        </button>
    </div>
</main>