<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>MiniBank</title>
  <meta name="description" content="Раздел минибанка не найден.">
  <!--<link href="../src/extra/outlines.css" rel="stylesheet">-->
  <link href="src/imports/404_page_imports.css" rel="stylesheet">
  <script type="text/javascript" src="src/imports/bundle.js"></script>
</head>

<body class="body">
{{> header }}
<main class="main_404">
  <p class="main_404__p">
    Ошибка 404, данного раздела не существует.
  </p>
</main>
{{> footer }}
</body>
</html>
