<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>MiniBank</title>
  <meta name="description" content="Самый лучший в мире банк для самый лучших в мире людей.">
  <!--  <link href="src/extra/outlines.css" rel="stylesheet">-->
  <link href="src/imports/main_page_imports.css" rel="stylesheet">
  <script type="text/javascript" src="src/imports/bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/website.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/supertokens.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/session.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/emailpassword.js"></script>
</head>
<body class="body" onload="supertokens_init('{{domain_url}}')">
{{> header }}

{{#if_equals current_page "main_page" }}
  {{> main_page }}
{{/if_equals}}

{{#if_equals current_page "e404" }}
  {{> e404 }}
{{/if_equals}}

{{#if_equals current_page "accounts" }}
  {{> accounts }}
{{/if_equals}}

{{#if_equals current_page "credits" }}
  {{> credits }}
{{/if_equals}}

{{#if_equals current_page "deposits" }}
  {{> deposits }}
{{/if_equals}}

{{#if_equals current_page "profile" }}
  {{> profile }}
{{/if_equals}}

{{#if_equals current_page "login" }}
  {{> login }}
{{/if_equals}}

{{#if_equals current_page "transactions" }}
  {{> transactions }}
{{/if_equals}}

{{#if_equals current_page "make-transaction" }}
  {{> make_transaction }}
{{/if_equals}}

{{> footer }}
</body>
</html>
