<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Профили</title>
  <meta name="description" content="Ваши профили.">
  <!--<link href="../src/extra/outlines.css" rel="stylesheet">-->
  <link href="src/imports/catalog_page_imports.css" rel="stylesheet">
  <script type="text/javascript" src="src/imports/bundle.js"></script>
</head>

<body class="body">
{{> header }}
<main class="catalog">
  <h2 class="catalog__title">Активные профили</h2>
  <div class="item">
    <p class="item__title">Валерий Шевченко</p>
    <p class="item__description">Количество продуктов, привязанных к этому профилю:
      8. Из них 4 счета, 2 кредита и 2 вклада.</p>
    <p class="item__date">Дата регистрации: 03.12.2001</p>
  </div>
</main>
{{> footer }}
</body>
</html>
