<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>История переводов</title>
  <meta name="description" content="Ваша история переводов.">
  <!--<link href="../src/extra/outlines.css" rel="stylesheet">-->
  <link href="src/imports/catalog_page_imports.css" rel="stylesheet">
  <script type="text/javascript" src="src/imports/bundle.js"></script>
</head>

<body class="body">
{{> header }}
<main class="catalog">
  <h2 class="catalog__title">История переводов</h2>
  <ul class="catalog__item_list" id="transaction_page_history">
  </ul>
</main>
{{> footer }}
</body>
</html>
