button.content__buttons__button {
  min-width: 250px;
  background-color: #F8F9FA;
  border-color: #000000;
  border-width: 2px;
  margin-bottom: 1px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 1px #101010;
  font-weight: bold;
  transition: all 150ms ease;
  cursor: pointer;
  font-family: Verdana;
  font-size: 13px;
}

button.function_list__button:hover {
  background-color: #D5D5D5;
}
